<div class="password-checker">
  <h1 class="title">Password Checker</h1>
  <form class="password-form">
    <label for="password" class="password-form-label">Password</label>
    <input type="password" [(ngModel)]="password" (input)="checkPasswordStrength()" placeholder="Type in here..."
      name="password" id="password" class="password-form-input">
  </form>

  <div class="strength-indicator">
    <div
      [ngClass]="{'grey': passwordStrength === 'grey', 'red': passwordStrength === 'red' || 'easy', 'green': passwordStrength === 'strong', 'yellow': passwordStrength === 'medium'}">
    </div>
    <div
      [ngClass]="{'grey': passwordStrength === 'grey' || 'easy', 'red': passwordStrength === 'red', 'green': passwordStrength === 'strong', 'yellow': passwordStrength === 'medium'}">
    </div>
    <div
      [ngClass]="{'grey': passwordStrength === 'grey' || 'easy' || 'medium', 'red': passwordStrength === 'red', 'green': passwordStrength === 'strong'}">
    </div>
  </div>
</div>